ALCHEMY_API_KEY=...

# Etherscan V2 API Key
ETHERSCAN_API_KEY=...

DEPLOYER_PRIVATE_KEY=...

# Mock Collateral Token
MOCK_COLLATERAL_TOKEN=0xbb46678a1F6C527bD79eCFBF85332B8Ae83ceaf1

# User 1
USER1_ADDRESS=...
USER1_PRIVATE_KEY=...
# User 2
USER2_ADDRESS=...
USER2_PRIVATE_KEY=...
# User 3
USER3_ADDRESS=...
USER3_PRIVATE_KEY=...

# Whitelist
WHITELIST_ADDRESS=0xbb73c13df3c8278f59de184b26023307e3c45d98
# Margin Vault
MARGIN_VAULT_ADDRESS=0xc6b4e4c2540d649bf655adb352f910f50026af1f
# Risk Engine
RISK_ENGINE_ADDRESS=0x2619faf69134a30651e765a85517f34b39d0cc25
# IRS Instrument
IRS_INSTRUMENT_ADDRESS=0x19d18958226f110e6702491b1124f42e4de012ec
# Clearing House
CLEARING_HOUSE_ADDRESS=0xae4c1b4f55088835d64b885408782c314b8f283c
# Liquidation Engine
LIQUIDATION_ENGINE_ADDRESS=0x6fbae72ccf3cf23924eba860bec36ed6ed160ae6