ALCHEMY_API_KEY=oKxs-03sij-U_N0iOlrSsZFr29-IqbuF

# Etherscan V2 API Key
ETHERSCAN_API_KEY=DNXJA8RX2Q3VZ4URQIWP7Z68CJXQZSC6AW

DEPLOYER_PRIVATE_KEY=...


# User 1
USER1_ADDRESS=...
USER1_ACCOUNT_ID=1
USER1_PRIVATE_KEY=...
# User 2
USER2_ADDRESS=...
USER2_ACCOUNT_ID=2
USER2_PRIVATE_KEY=...

# Contract Address For whitelist script
WHITELIST_ADDRESS=...

# Mock Collateral Token
MOCK_COLLATERAL_TOKEN=...
