ALCHEMY_API_KEY=...

# Etherscan V2 API Key
ETHERSCAN_API_KEY=...

DEPLOYER_PRIVATE_KEY=...

# Mock Collateral Token
MOCK_COLLATERAL_TOKEN=0xbb46678a1F6C527bD79eCFBF85332B8Ae83ceaf1

# User 1
USER1_ADDRESS=...
USER1_PRIVATE_KEY=...
# User 2
USER2_ADDRESS=...
USER2_PRIVATE_KEY=...

# Whitelist
WHITELIST_ADDRESS=...

# Margin Vault
MARGIN_VAULT_ADDRESS=...

# Risk Engine
RISK_ENGINE_ADDRESS=...

# IRS Instrument
IRS_INSTRUMENT_ADDRESS=...

# Clearing House
CLEARING_HOUSE_ADDRESS=...

# Insurance Fund
INSURANCE_FUND_ADDRESS=...

# Liquidation Engine
LIQUIDATION_ENGINE_ADDRESS=...
